.spotlight-title {
    font-size: 3rem;
}

.spotlight-text {
    font-size: 1.25rem;
}

.spotlight-rate {
    position: absolute;
    bottom: 0;
    right: 0;
    background: yellow;
    color: black;
    padding: 0 5px;
    border-radius: 2px;
    font-size: 1.25rem;
    font-weight: 700;
}