#movie-year {
    position: absolute;
    bottom: 2px;
    left: 2px;
    font-weight: 700;
    /* text-shadow: black 2px 2px; */
    color: black;
    background-color: white;
    padding: 0 5px;
    border-radius: 2px;
}

#movie-rate{
    position: absolute;
    font-weight: 700;
    bottom: 0;
    left: 0;
    color: black;
    background-color: yellow;
    border-radius: 2px;
    padding: 0 5px;
}

.movie-card {
    transition: all .3s ease;
    cursor: pointer;
    overflow: auto;    
}

.movie-heart {
    color: red;
    position: absolute;
    right: 2%;
    bottom: 0;    
    font-size: 2rem;
    cursor: pointer;    
}

.empty {
    display: none;
}

.liked.empty {
    display: unset;
}

.liked.solid {
    display: none;
}

.movie-card.detail {
    height: 100%;
    display: block;
}

.movie-card-container {
    height: 100%;
    display: block;
}

.movie-card-container a {
    color: lightcyan;
}

.detail {
    display: none;
}

.detail-active.movie-card-container:hover {
    height: 100%;
    
}

.detail-active.movie-card-container:hover  img {    
    visibility: hidden;    
}

.detail-active.movie-card a {
    text-decoration: none;
    color: lightcyan;
}

.detail-active.movie-card-container:hover .movie-card-title, .detail-active.movie-card-container:hover .movie-card-text {    
    display: block;
}

.detail-active.movie-card-container:hover #movie-year, .detail-active.movie-card-container:hover #movie-rate{
    display: none;
}

.detail-active.movie-card-container:hover .movie-heart {        
    color: white;          
    transform: scale(0.75);
    transform: translate(-40%, -45%);
}

.movie-card-container {
    transform: translateZ(0);
    transition: all .5s ease;
}

.movie-card-container:hover {
    transform: scale(1.1);
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}