.error {
    margin-top: 10vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Pacifico', sans-serif;
}

.error-img {
    height: 50vh;
}